output/Re = 400.0/UVPstreamline t=1.png
output/Re = 400.0/UVPstreamline t=2.png
output/Re = 400.0/UVPstreamline t=3.png
output/Re = 400.0/UVPstreamline t=4.png
output/Re = 400.0/UVPstreamline t=5.png
output/Re = 400.0/UVPstreamline t=6.png
output/Re = 400.0/UVPstreamline t=7.png
output/Re = 400.0/UVPstreamline t=8.png
output/Re = 400.0/UVPstreamline t=9.png
output/Re = 400.0/UVPstreamline t=10.png
output/Re = 400.0/UVPstreamline t=11.png
output/Re = 400.0/UVPstreamline t=12.png
output/Re = 400.0/UVPstreamline t=13.png
output/Re = 400.0/UVPstreamline t=14.png
output/Re = 400.0/UVPstreamline t=15.png
output/Re = 400.0/UVPstreamline t=16.png
output/Re = 400.0/UVPstreamline t=17.png
output/Re = 400.0/UVPstreamline t=18.png
output/Re = 400.0/UVPstreamline t=19.png
output/Re = 400.0/UVPstreamline t=20.png
output/Re = 400.0/UVPstreamline t=21.png
output/Re = 400.0/UVPstreamline t=22.png
output/Re = 400.0/UVPstreamline t=23.png
output/Re = 400.0/UVPstreamline t=24.png
output/Re = 400.0/UVPstreamline t=25.png
output/Re = 400.0/UVPstreamline t=26.png
output/Re = 400.0/UVPstreamline t=27.png
output/Re = 400.0/UVPstreamline t=28.png
output/Re = 400.0/UVPstreamline t=29.png
output/Re = 400.0/UVPstreamline t=30.png
output/Re = 400.0/UVPstreamline t=31.png
output/Re = 400.0/UVPstreamline t=32.png
output/Re = 400.0/UVPstreamline t=33.png
output/Re = 400.0/UVPstreamline t=34.png
output/Re = 400.0/UVPstreamline t=35.png
output/Re=1000.0/UVPstreamline_ts=1.png
output/Re=1000.0/UVPstreamline_ts=2.png
output/Re=1000.0/UVPstreamline_ts=3.png
output/Re=1000.0/UVPstreamline_ts=4.png
output/Re=1000.0/UVPstreamline_ts=5.png
output/Re=1000.0/UVPstreamline_ts=6.png
output/Re=1000.0/UVPstreamline_ts=7.png
output/Re=1000.0/UVPstreamline_ts=8.png
output/Re=1000.0/UVPstreamline_ts=9.png
output/Re=1000.0/UVPstreamline_ts=10.png
output/Re=1000.0/UVPstreamline_ts=11.png
output/Re=1000.0/UVPstreamline_ts=12.png
output/Re=1000.0/UVPstreamline_ts=13.png
output/Re=1000.0/UVPstreamline_ts=14.png
output/Re=1000.0/UVPstreamline_ts=15.png
output/Re=1000.0/UVPstreamline_ts=16.png
output/Re=1000.0/UVPstreamline_ts=17.png
output/Re=1000.0/UVPstreamline_ts=18.png
output/Re=1000.0/UVPstreamline_ts=19.png
output/Re=1000.0/UVPstreamline_ts=20.png
output/Re=1000.0/UVPstreamline_ts=21.png
output/Re=1000.0/UVPstreamline_ts=22.png
output/Re=1000.0/UVPstreamline_ts=23.png
output/Re=1000.0/UVPstreamline_ts=24.png
output/Re=1000.0/UVPstreamline_ts=25.png
output/Re=1000.0/UVPstreamline_ts=26.png
output/Re=1000.0/UVPstreamline_ts=27.png
output/Re=1000.0/UVPstreamline_ts=28.png
output/Re=1000.0/UVPstreamline_ts=29.png
output/Re=1000.0/UVPstreamline_ts=30.png
output/Re=1000.0/UVPstreamline_ts=31.png
output/Re=1000.0/UVPstreamline_ts=32.png
output/Re=1000.0/UVPstreamline_ts=33.png
output/Re=1000.0/UVPstreamline_ts=34.png
output/Re=1000.0/UVPstreamline_ts=35.png
output/Re=1000.0/UVPstreamline_ts=36.png
output/Re=1000.0/UVPstreamline_ts=37.png
output/Re=1000.0/UVPstreamline_ts=38.png
output/Re=1000.0/UVPstreamline_ts=39.png
output/Re=1000.0/UVPstreamline_ts=40.png
output/Re=1000.0/UVPstreamline_ts=41.png
output/Re=1000.0/UVPstreamline_ts=42.png
output/Re=1000.0/UVPstreamline_ts=43.png
output/Re=1000.0/UVPstreamline_ts=44.png
output/Re=1000.0/UVPstreamline_ts=45.png
output/Re=1000.0/UVPstreamline_ts=46.png
output/Re=1000.0/UVPstreamline_ts=47.png
output/Re=1000.0/UVPstreamline_ts=48.png
output/Re=1000.0/UVPstreamline_ts=49.png
output/Re=1000.0/UVPstreamline_ts=50.png
output/Re=1000.0/UVPstreamline_ts=51.png
output/Re=1000.0/UVPstreamline_ts=52.png
output/Re=1000.0/UVPstreamline_ts=53.png
output/Re=1000.0/UVPstreamline_ts=54.png
output/Re=1000.0/UVPstreamline_ts=55.png
output/Re=1000.0/UVPstreamline_ts=56.png
output/Re=1000.0/UVPstreamline_ts=57.png
output/Re=1000.0/UVPstreamline_ts=58.png
output/Re=1000.0/UVPstreamline_ts=59.png
output/Re=1000.0/UVPstreamline_ts=60.png
output/Re=1000.0/UVPstreamline_ts=61.png
output/Re=1000.0/UVPstreamline_ts=62.png
output/Re=1000.0/UVPstreamline_ts=63.png
output/Re=1000.0/UVPstreamline_ts=64.png
output/Re=1000.0/UVPstreamline_ts=65.png
output/Re=1000.0/UVPstreamline_ts=66.png
output/Re=1000.0/UVPstreamline_ts=67.png
output/Re=1000.0/UVPstreamline_ts=68.png
output/Re=1000.0/UVPstreamline_ts=69.png
output/Re=1000.0/UVPstreamline_ts=70.png
output/Re=1000.0/UVPstreamline_ts=71.png
output/Re=1000.0/UVPstreamline_ts=72.png
output/Re=1000.0/UVPstreamline_ts=73.png
output/Re=1000.0/UVPstreamline_ts=74.png
output/Re=1000.0/UVPstreamline_ts=75.png
output/Re=1000.0/UVPstreamline_ts=76.png
output/Re=1000.0/UVPstreamline_ts=77.png
output/Re=1000.0/UVPstreamline_ts=78.png
output/Re=1000.0/UVPstreamline_ts=79.png
output/Re=1000.0/UVPstreamline_ts=80.png
output/Re=1000.0/UVPstreamline_ts=81.png
output/Re=1000.0/UVPstreamline_ts=82.png
output/Re=1000.0/UVPstreamline_ts=83.png
output/Re=1000.0/UVPstreamline_ts=84.png
output/Re=1000.0/UVPstreamline_ts=85.png
output/Re=1000.0/UVPstreamline_ts=86.png
output/Re=1000.0/UVPstreamline_ts=87.png
output/Re=1000.0/UVPstreamline_ts=88.png
output/Re=1000.0/UVPstreamline_ts=89.png
output/Re=1000.0/UVPstreamline_ts=90.png
output/Re=1000.0/UVPstreamline_ts=91.png
output/Re=1000.0/UVPstreamline_ts=92.png
output/Re=1000.0/UVPstreamline_ts=93.png
output/Re=1000.0/UVPstreamline_ts=94.png
output/Re=1000.0/UVPstreamline_ts=95.png
output/Re=1000.0/UVPstreamline_ts=96.png
output/Re=1000.0/UVPstreamline_ts=97.png
output/Re=1000.0/UVPstreamline_ts=98.png
output/Re=1000.0/UVPstreamline_ts=99.png
output/Re=1000.0/UVPstreamline_ts=100.png
output/Re=1000.0/UVPstreamline_ts=101.png
output/Re=1000.0/UVPstreamline_ts=102.png
output/Re=1000.0/UVPstreamline_ts=103.png
output/Re=1000.0/UVPstreamline_ts=104.png
output/Re=1000.0/UVPstreamline_ts=105.png
output/Re=1000.0/UVPstreamline_ts=106.png
output/Re=1000.0/UVPstreamline_ts=107.png
output/Re=1000.0/UVPstreamline_ts=108.png
output/Re=1000.0/UVPstreamline_ts=109.png
output/Re=1000.0/UVPstreamline_ts=110.png
output/Re=1000.0/UVPstreamline_ts=111.png
output/Re=1000.0/UVPstreamline_ts=112.png
output/Re=1000.0/UVPstreamline_ts=113.png
output/Re=1000.0/UVPstreamline_ts=114.png
output/Re=1000.0/UVPstreamline_ts=115.png
output/Re=1000.0/UVPstreamline_ts=116.png
output/Re=1000.0/UVPstreamline_ts=117.png
output/Re=1000.0/UVPstreamline_ts=118.png
output/Re=1000.0/UVPstreamline_ts=119.png
output/Re=1000.0/UVPstreamline_ts=120.png
output/Re=1000.0/UVPstreamline_ts=121.png
output/Re=1000.0/UVPstreamline_ts=122.png
output/Re=1000.0/UVPstreamline_ts=123.png
output/Re=1000.0/UVPstreamline_ts=124.png
output/Re=1000.0/UVPstreamline_ts=125.png
output/Re=1000.0/UVPstreamline_ts=126.png
output/Re=1000.0/UVPstreamline_ts=127.png
output/Re=1000.0/UVPstreamline_ts=128.png
output/Re=1000.0/UVPstreamline_ts=129.png
output/Re=1000.0/UVPstreamline_ts=130.png
output/Re=1000.0/UVPstreamline_ts=131.png
output/Re=1000.0/UVPstreamline_ts=132.png
output/Re=1000.0/UVPstreamline_ts=133.png
output/Re=1000.0/UVPstreamline_ts=134.png
output/Re=1000.0/UVPstreamline_ts=135.png
output/Re=1000.0/UVPstreamline_ts=136.png
output/Re=1000.0/UVPstreamline_ts=137.png
output/Re=1000.0/UVPstreamline_ts=138.png
output/Re=1000.0/UVPstreamline_ts=139.png
output/Re=1000.0/UVPstreamline_ts=140.png
output/Re=1000.0/UVPstreamline_ts=141.png
output/Re=1000.0/UVPstreamline_ts=142.png
output/Re=1000.0/UVPstreamline_ts=143.png
output/Re=1000.0/UVPstreamline_ts=144.png
output/Re=1000.0/UVPstreamline_ts=145.png
output/Re=1000.0/UVPstreamline_ts=146.png
output/Re=1000.0/UVPstreamline_ts=147.png
output/Re=1000.0/UVPstreamline_ts=148.png
output/Re=1000.0/UVPstreamline_ts=149.png
output/Re=1000.0/UVPstreamline_ts=150.png
output/Re=1000.0/UVPstreamline_ts=151.png
output/Re=1000.0/UVPstreamline_ts=152.png
output/Re=1000.0/UVPstreamline_ts=153.png
output/Re=1000.0/UVPstreamline_ts=154.png
output/Re=1000.0/UVPstreamline_ts=155.png
output/Re=1000.0/UVPstreamline_ts=156.png
output/Re=1000.0/UVPstreamline_ts=157.png
output/Re=1000.0/UVPstreamline_ts=158.png
output/Re=1000.0/UVPstreamline_ts=159.png
output/Re=1000.0/UVPstreamline_ts=160.png
output/Re=400.0/UVPstreamline_ts=1.png
output/Re=400.0/UVPstreamline_ts=2.png
output/Re=400.0/UVPstreamline_ts=4.png
output/Re=400.0/UVPstreamline_ts=8.png
output/Re=400.0/UVPstreamline_ts=16.png
output/Re=400.0/UVPstreamline_ts=32.png
output/n=128 , Re=100.0 , t_end=35 , 2022-11-02T19.16.58.031/Ut.jld
output/n=128 , Re=1000.0 , t_end=16 , 2022-11-02T21.15.06.306/Ut.jld
output/n=128 , Re=1000.0 , t_end=16 , 2022-11-03T12.31.40.002/Ut.jld
output/n=128 , Re=1000.0 , t_end=35 , 2022-11-02T19.30.18.347/Ut.jld
output/n=128 , Re=10000.0 , t_end=35 , 2022-11-04T21.00.59.195/Ut.jld
output/n=128 , Re=2000.0 , t_end=35 , 2022-11-02T19.23.09.539/Ut.jld
output/n=128 , Re=3200.0 , t_end=35 , 2022-11-04T20.49.52.201/Ut.jld
output/n=128 , Re=400.0 , t_end=35 , 2022-11-02T19.11.14.253/Ut.jld
output/n=64 , Re=4000.0 , t_end=35 , 2022-11-02T13.42.20.480/Ut.jld
Ghia/pts.csv
Ghia/Re100 U.csv
Ghia/Re100 V.csv
Ghia/Re400 U.csv
Ghia/Re400 V.csv
Ghia/Re1000 U.csv
Ghia/Re1000 V.csv
StarCCM/lid_driven_flow_Re100.png
StarCCM/lid_driven_flow_Re400.png
StarCCM/lid_driven_flow_Re1000.png
StarCCM/lid_driven_flow_Re2000.png
StarCCM/lid_driven_flow.sim
StarCCM/lid_driven_flow.sim~
StarCCM/Re100 U.csv
StarCCM/Re100 V.csv
StarCCM/Re400 U.csv
StarCCM/Re400 V.csv
StarCCM/Re1000 U.csv
StarCCM/Re1000 V.csv
StarCCM/Re2000 U.csv
StarCCM/Re2000 V.csv
lid_driven_flow_Re=1000.mp4
Coding Project.bib
